ody {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-content: space-around;
    color: rgb(0, 5, 1);
    background-color: #1e2a3a;
    text-align: center; 
}



.container {
    flex: 1 1 80%;
    min-height: 100px;
    background-color: #111821;
    padding: 50px;
    border: 5px solid #293544;
}
